@charset "UTF-8";

* {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /*height: 100%;*/

}
body{
background-image: linear-gradient(to left, rgb(122, 3, 3), rgb(6, 107, 6), rgb(63, 1, 121));
}
main{
background-color: rgba(255, 255, 255, 0);
width: 500px;
margin: auto;
box-shadow: 10px rgb(95, 52, 95);
}
p{
text-align: justify;

}
h1{
    color: rgb(74, 11, 133);
    text-align: center;
    text-shadow: 1px 1px 3px black;
}
h2{
    color: rgb(5, 107, 5);
}